
@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}

    <div class="row">
        <section class="error-403 offline-404 d-flex" style="width: 100%;position: initial;height: 81vh;display: flex;padding-top: 100px;">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="auth-body">
                            <h1 style="font-size: 100px;">Access Denied!</h1>
                            <h2>Oops! Looks like you don't have permissions to view the requested page.</h2>
                            <h3>Please contact administrator</h3>
                            @*<form>
                                <div class="left-icon-control">
                                    <input type="text" class="form-control form-control-lg" placeholder="Try a new Search">
                                    <div class="form-icon">
                                        <i class="icofont icofont-search"></i>
                                    </div>
                                </div>
                                <a href="index-2.html" class="btn btn-primary btn-lg m-t-30">Back to Home</a>
                            </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix">
        </div>
    </div>