@{
    ViewData["Title"] = "Home Page";
}

<div class="login-card card-block auth-body">
    <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" asp-area="ProductionPlaningControl" asp-controller="Home" asp-action="Index">
        <i class="ti-pencil-alt"></i>
        Production Planing Control
    </a>
    <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" asp-area="YarnDyeing" asp-controller="Home" asp-action="Index">
        <i class="ti-paint-bucket"></i>
        Yarn Dyeing
    </a>
    <a class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" asp-area="ChemicalStore" asp-controller="Home" asp-action="Index">
        <i class="ti-vector"></i>
        Chemical Store
    </a>

</div>