@model DefaultItemViewModel

@{
    ViewData["Title"] = "Add Or Update";
}
    @*<form action="/@AreaConstants.YARN_DYEING.Name/MachineType/AddOrUpdate" method="post" enctype="multipart/form-data">*@

        <form asp-area="@(AreaConstants.YARN_DYEING.Name)" asp-controller="MachineType" asp-action="AddOrUpdate" method="post" enctype="multipart/form-data">
            <div class="form-horizontal">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
