@model IEnumerable<TexStyle.Identity.Extensions.DTO.AccountRole>
@{
    ViewBag.Title = "Roles";
    var AddOrUpdateAction = "/UserManagement/Role/AddOrUpdate/";
    var DeleteAction = "/UserManagement/Role/Delete/";
}

<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Role Management</h5>
                @*data-action="#@AddOrUpdateAction"*@
                <a class="btn btn-primary waves-effect" asp-area="UserManagement" asp-controller="Role" asp-action="AddOrUpdate" data-title="Create Account Role">ADD NEW</a>
            </div>
            <div class="card-block">
                <div class="dt-responsive table-responsive">
                    <div id="simpletable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <table id="AccountRolesTable" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="simpletable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc">Role</th>
                                            <th class="sorting">Users</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in Model) {
                                            <tr role="row">
                                                <td class="sorting_1">@c.Name</td>
                                                <td class="sorting">@c.UserRoles.Count(x => x.UserId!=0)</td>
                                                <td style="width:150px;">
                                                    <a class="btn btn-primary" asp-area="UserManagement" asp-controller="Role" asp-action="AddOrUpdate" asp-route-id="@c.Id">Edit</a>
                                                   <button disabled class="btn btn-danger item-delete-btn" data-delete-url="@DeleteAction@c.Id">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr role="row">
                                            <th class="sorting_asc">Role</th>
                                            <th class="sorting">Users</th>
                                            <th class="sorting">Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section scripts{
    <script type="text/javascript">
        let AccountRolesTable = $("#AccountRolesTable").DataTable();
        $(function () {
            $(".select2").select2();
        });
        InitColorScripts();

        function InitColorScripts() {
            var modal = "#adminModal";

            $('.create-js,.update-js').click(function (e) {
                e.preventDefault();
                var mtitle = $(modal).children().find(".modal-title");
                var mbody = $(modal).children().find(".modal-body");
                var url = $(this).data("action").replace('#', '');
                mtitle.text($(this).data("title"))
                $.ajax({
                    url: url,
                    method: 'GET'
                }).done(function (res) {
                    mbody.html(res);
                    $(".select2").select2();
                    $(modal).modal();
                }).fail(function () {

                });

            });

            $(".delete-js").click(function (e) {
                e.preventDefault();
                var mtitle = $(modal).children().find(".modal-title");
                var mbody = $(modal).children().find(".modal-body");
                var url = $(this).data("action");
                var title = $(this).data('title');

                $.ajax({
                    url: url,
                    method: 'GET'
                }).done(function (data) {
                    mtitle.text(title);
                    mbody.html(data);
                    var deletVarifyInterval = setInterval(function () {
                        if ((mbody.find(".vtd-js").val() === mbody.find(".name-js").text()) == true) {
                            mbody.find(".del-js").removeAttr("disabled");
                            console.log("fuck")
                        } else {
                            mbody.find(".del-js").attr("disabled", "disabled");
                            console.log("fuck")
                        }
                    }, 300);

                    mbody.find(".close-modal-js").click(function (e) {
                        e.preventDefault();
                        console.log("delete interval cleared")
                        clearInterval(deletVarifyInterval);
                        $(modal).modal("hide");
                    });

                    $(modal).modal();
                }).fail(function () {
                    mtitle.text(title);
                    mbody.html("Fail");
                    $(modal).modal();
                });

            });
        }
    </script>
}