<!DOCTYPE html>
<html lang="en">

<head>
    <title>TexStyle</title>

    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="TexStyle is an online textile management system implementing Production Planing Control, Chemical Store, Yarn Dyeing etc.. ">
    <meta name="keywords" content="TexStyle, Tex Style, TexStyler, Text Styler, Textile App, Production Planing Control, Chemical Store, Yarn Dyeing">
    <meta name="author" content="Perspective-V">
    @*<meta name="description" content="Phoenixcoded">
        <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="Phoenixcoded">*@

    <link rel="icon" href="~/theme/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/theme/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/theme/default/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="~/theme/default/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="~/theme/default/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/theme/default/assets/css/color/color-1.css" id="color" />

    @*<style>
        .common-img-bg {
            background-size: cover;
            /*background: url(/images/13.jpg) no-repeat center 20% fixed;*/
            height: 100%;
            background: none;
        }
    </style>*@

    <style>
        .login {
            background-color: black;
        }
    </style>
</head>
<body class="fix-menu">
    <section class="login p-fixed d-flex text-center">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()

                </div>
            </div>

        </div>

    </section>


    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->


    <script type="text/javascript" src="~/theme/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/theme/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="~/theme/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>

    <script type="text/javascript" src="~/theme/bower_components/i18next/i18next.min.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/theme/bower_components/jquery-i18next/jquery-i18next.min.js"></script>

    <script type="text/javascript" src="~/theme/assets/js/script.js"></script>
    <script type="text/javascript" src="~/theme/assets/js/common-pages.js"></script>
</body>

</html>
