
@{
    ViewData["Title"] = "YardDyeingPurchaseContractForm";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
<style>
    .tab thead tr th{
        border:1px solid black !important;
    }
     .tab tr td{
        border:1px solid black !important;
    }
     .tab tbody tr td{
         border:1px solid black !important;
     }
     .font{
         font-size:15px;
     }
     .font2{
         font-size:20px;
     }
</style>


    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="5%"></th>  
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="20" class="capital text-center h2 font-weight-bold">COMFORT KNITWEARS (PVT) LTD.</td>
            </tr>
            <tr>
                <td colspan="20" class="text-capitalize text-center h3 font-weight-bold">DYED YARN PURCHASE CONTRACT</td>
            </tr>
            <tr><td colspan="20"></td></tr>
            <tr><td colspan="20"></td></tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3" class="text-capitalize text-left h5">JOB#:</td>
                <td colspan="3" class="text-left">_____________________________</td>
                <td colspan="6"></td>  
                <td colspan="2" class="text-capitalize text-left h5">SR#:</td>
                <td colspan="3" class="text-left">_____________________________</td>
            </tr>
            <tr><td colspan="20"></td></tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3" class=" text-left h5">ATTN:</td>
                <td colspan="3">___________________________</td>
                <td colspan="6"></td>
                <td colspan="2" class=" text-left h5">DATE:</td>
                <td colspan="3">___________________________</td>
            </tr>
            <tr><td colspan="20"></td></tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3" class="text-capitalize text-left h5">E-MAIL:</td>
                <td colspan="3">___________________________</td>
                <td colspan="3" class="text-center h5">FAX</td>
                <td colspan="3">_____________________________</td>
                <td colspan="2" class=" text-left h5">BRAND:</td>
                <td colspan="3" class="h5">COMBED/CARDED</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="3" class="font-weight-bold h5">CUSTOMER</td>
                <td colspan="3" class="h5"><i class="fa fa-check"></i>TICK</td>
                <td colspan="6"></td>
                <td colspan="2" class="text-left h5">FABRICATION:</td>
                <td colspan="3">___________________________</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="4" class="font-weight-bold h5"><i class="fa fa-square-o"></i>COMFORT</td>
                <td colspan="4" class="font-weight-bold h5"><i class="fa fa-square-o"></i>Z-KAP</td>
                <td colspan="4" class="font-weight-bold h5"><i class="fa fa-square-o"></i>COMMERCIAL PARTY</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17">
                    <table class="table tab table-bordered">
                        <thead>
                            <tr style="background-color:lightgray;">
                                <th>Sr :#</th>
                                <th>Buyer</th>
                                <th>Yarn Count</th>
                                <th>Color</th>
                                <th>Qty/Kgs</th>
                                <th>Rate/Kgs</th>
                                <th>Any Special Instructions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
            <tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="h5 font-weight-bold">TERMS OF PAYMENT</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17">* Through "Corss Cheque/ Pay Order" in favour of "Comfort Knitwears (Pvt) Ltd."</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17">* If Others:__________________________________________________________________________________________________________________</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="h5 font-weight-bold">OTHER CONDITIONS:</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* 15% sales tax will be charged over the above dyeing rates.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* Customer will provide yarn including process wastage of 8% for dyed (Light Dark) colors & 8% for white/bleach colors.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* Upon completion of the order, the yarn will be reconcilled with mentioned wastages.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* The customer is responsible to assure the "Ecur Yarn Quality" and "Comfort" will assure the "Dyed Yarn Quality".</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* The buyer has to confirm the "Dyeing Quality Parameters",so that we can proceed accordingly.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* If the consignment will not be lifted within 30 days after complition of the plan."Comfort" has the right to sell the material to recover the receivable amount.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* The dyed lots will be finished after buyer's written approval, and will not re-process.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* If the buyer needs to re-work the finished (OK) lots, then "Comfort" will charge re-work cost & will not be responsible for any quality issue <br />(like tone, metarnerism, variation etc.)</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font">* The above rates are valid for this contract only.</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17" class="font"><span style="font-size:30px;font-weight:bold;">.</span> If Others:   ________________________________________________________________________________________________________________________________________________________<br />_______________________________________________________________________________________________________________________________________________________________________</td>
            </tr>
            <tr>
                <td colspan="20"></td>

            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="20"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="4" class="font2 text-right"><SPAN STYLE="text-decoration:overline;"> Prepared By </SPAN></td>
                <td colspan="6" class="font"></td>
                <td colspan="6" class="font2 text-right"><SPAN STYLE="text-decoration:overline;"> Approved By </SPAN> </td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="17">______________________________________________________________________________________________________________________________________________________</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="5" class="font2">White Yarn Dyeing Manager</td>
                <td colspan="6" class="font2">Blue: Yarn Dyeing Lot Preparation</td>
                <td colspan="3" class="font2">Pink: Accounts</td>
                <td colspan="3" class="font2">Yellow: Book Copy</td>
            </tr>
        </tbody>
    </table>

