@model   ReprocessRecipeViewModel

@{
    ViewData["Title"] = "Copy Recipe";



    List<SelectListItem> RecipeList = ViewBag.recipeList;
    var RecipeSl = new SelectListItemViewModel
    {
        Name = nameof(Model.RecipeId),
        PlaceHolder = "Select Recipe No",
        UseDefault = false,
        SelectList = RecipeList
        
    };


}

<form asp-area="@(AreaConstants.YARN_DYEING.Name)" asp-controller="Recipe" asp-action="CopyRecipe" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">

        <div class="form-group">
            @if (RecipeList != null)
            {
                <label class="control-label" asp-for="RecipeId"></label>
                <partial name="@AppConsts.SelectListPartial" model="RecipeSl" />
            }
            <span asp-validation-for="RecipeId" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Copy</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>

</form>





<script>$(document).ready(function () {

        $("#btn").on("click", function () {
            $(this).attr("disabled", "disabled");
            doWork();
        });
    });

    function doWork() {
        alert("doing work");
        setTimeout('$("#btn").removeAttr("disabled")', 1500);
    }</script>