@using TexStyle.ViewModels
@model TexStyle.ViewModels.Analysis.AnalysisTypeViewModel

@{
    ViewData["Title"] = "Add Or Updaste";
}

<form asp-area="Analysis" asp-controller="AnalysisType" asp-action="AddOrUpdate" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="control-label">Type Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>
